@using PagedList.Mvc; @*//import this so we get our HTML Helper*@
@using PagedList; @*//import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@
@model IPagedList<ECommerceShoppingCartMVC.Models.Produse>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Produse </h2>

<p>
    @Html.ActionLink("Produs nou", "Create")
</p>
<table class="table table-striped table-hover wow slideInLeft" style=" width:35%;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Nume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Pret)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pret)
            </td>
            <td>
                @Html.ActionLink("Editare produs", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Stergere produs", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }))
